<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <h1>Accepted Bookings</h1>
        <table border="1">
            <tr>
                <td>Name</td>
                <td>Booking Date</td>
                <td>Booking Time</td>
                <td>Reason</td>
            </tr>
            {% for i in hosobj %}
                
                <tr>
                    <td>{{i.user.name}}</td>
                    <td>{{i.bookingdate}}</td>
                    <td>{{i.bookingtime}}</td>
                    <td>{{i.reason}}</td>

                </tr>
                {% endfor %}
        </table>
        </form>
</body>
</html>