{% extends 'Doctor/Head.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function chkpwd(txtrp, txtp)
{
if((txtrp.value)!=(txtp.value))
{
    document.getElementById("pass").innerHTML = "<span style='color: red;'>Passwords Mismatch</span>";
}
}

function checknum(elem)
{
var numericExpression = /^[0-9]{8,10}$/;
if(elem.value.match(numericExpression))
{
    document.getElementById("contact").innerHTML = "";
    return true;
}
else
{
    document.getElementById("contact").innerHTML = "<span style='color: red;'>10 Numbers Only Allowed</span>";
    elem.focus();
    return false;
}
}



function emailval(elem)
{
var emailexp=/^([a-zA-Z0-9.\_\-])+\@([a-zA-Z0-9.\_\-])+\.([a-zA-Z]{2,4})$/;
if(elem.value.match(emailexp))
{
    document.getElementById("email").innerHTML = "";
    return true;
}
else
{
    
    document.getElementById("email").innerHTML ="<span style='color: red;'>Check Email Address Entered</span>";;
    elem.focus();
    return false;
}
}
function nameval(elem)
{
var emailexp=/^([A-Za-z ]*)$/;
if(elem.value.match(emailexp))
{
    document.getElementById("name").innerHTML = "";
    return true;
}
else
{
    
    document.getElementById("name").innerHTML = "<span style='color: red;'>Alphabets Are Allowed</span>";
    elem.focus();
    return false;
}
}

   </script>
</head>
<body>
    <br><br>
    <div id="tab">
    <form method="post">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>Current Password:</td>
                <td><input type="password" name="currentpassword"  id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required=""></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="newpassword" id="password1"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required=""></td>
            </tr>
            <tr>
                <td>
                    Confirm Password:</td>
                    <td><input type="password" name="changepassword" id="password2" onchange="return chkpass(password1,this)"></td>
            </tr>
           <tr>
               <td colspan="2">
                       <input type="submit" name="save" value="Save">
                       <input type="reset" name="cancel" value="Cancel">
               </td>
           </tr>
        </table>
    </form>
    </div>


</body>
<script>
function chkpass(pass,repass) {
    if (pass.value!=repass.value) {
        alert("Password Missmatch")
        return false
    }
    else{
         return true
    }

}
</script>
</body>
</html>

{% endblock %}