<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <a href="{% url 'User:myprofile'  %}">My Profile</a>
    
    <a href="{% url 'User:editprofile'  %}">Edit Profile</a>
    <a href="{% url 'User:changepassword'  %}">Change Password</a>
    <a href="{% url 'User:shopsearch'  %}">Shopwise Search</a>
    <a href="{% url 'User:viewpetbookings'  %}">Pet Bookings</a>
    <a href="{% url 'User:viewproductbookings'  %}">Product Bookings</a>
    <a href="{% url 'User:viewfoodbookings'  %}">Food Bookings</a>
    <a href="{% url 'User:feedbackuser'  %}">Send Admin Feedbacks</a>
    <a href="{% url 'User:usercomplaint'  %}">Send Admin Complaints</a>
    <a href="{% url 'User:viewadminfeedbacks'  %}">View Admin Feedbacks</a>
    <a href="{% url 'User:viewadmincomplaints'  %}">View Admin Complaints</a>
    <a href="{% url 'User:hospitalsearch'  %}">Hospitalwise Search</a>
    <a href="{% url 'User:viewdoctorbookings'  %}">Doctor Bookings</a>
    <a href="{% url 'User:viewcomplainttoshop'  %}">View Shop Complaints</a>
    
    <a href="{% url 'User:logout'  %}">Logout</a>
    
</body>
</html>