{% extends 'User/Head.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post"   id="petform" data-pet-url="{%  url 'Shop:load-breedtype' %}">
        {% csrf_token %}

        <table align="center">
            <tr>
                <td>Pettype</td>
                <td><select name="pettype" id="pettype">
                    <option value="">---select---</option>
                    {% for i in dis %}
                    <option value="{{i.id}}">{{i.pettype}}</option>
                    {% endfor %}
                    
                </select>
                </td>
                <td>Breedtype</td>
                <td> <select name="breedtype" id="breedtype">
                    <option value="">---select---</option>
                    
                </select></td>
                <td colspan="2"><input type="submit" name="search" value="Search"></td>
            </tr>
        </table>
    </form>
        <br>
        <hr>
        <br>
        <table>
            <tr>
                {% for x in name  %}
                <td>
                    <p style="border: 1px solid black;align-items: center;">
                    <img src="{{ x.image.url }}" width="120" height="120"><br>
                       {{ x.productname }} <br>
                     {{ x.rate }} <br> 
                     <a href="{% url 'User:viewmore-productitems' x.id %}">Viewmore</a>
                
                </td>
                {% endfor %}
            </tr>

        </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
 $("#pettype").change(function () {
     var did =$(this).val();
     var ur =$("#petform").attr("data-pet-url");
     $.ajax({
         url: ur,
         data:{ disd: did, },
         success: function(data) {
             $("#breedtype").html(data);
         },
     });
 });
 </script>
</html>


{% endblock  %}