<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Reason</td>
                <td><input type="text" name="reason"></td>
            </tr>
            <tr>
                <td>Attachment:
                </td>
                <td><input type="file" name="attachment" required autocomplete="off"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" name="save">
                    <input type="reset" value="Cancel" name="cancel">

                </td>
            </tr>
        </table>

</body>
</html>