{% extends 'Shop/Head.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab">
        <form method="post">
            {% csrf_token %}
            <table cellpadding="10">
                <tr>

                    <td>Date</td>
                    <td><input type="date" name="date" id="date"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="save">
                        <input type="reset" value="cancel">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

{% endblock %}