{% extends 'Shop/Head.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}

        <table align="center" border="1">
            <tr>
                <td>Stock:</td>
                <td><input type="text" name="stock" required autocomplete="off"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Save" value="Save">
                    <input type="reset" name="Cancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>

</body>
</html>

{% endblock  %}