{% extends 'Shop/Head.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table border="1">
            <tr>
                <td>User</td>
                <td>Pet</td>
                <td>Booked Date</td>
                <td>Quantity</td>
                <td>Total Price</td>
                <td>Date of Submitting</td>
                <td>Attachment</td>
                
            </tr>
            {% for i in obj1 %}
                
                <tr>
                    <td>{{i.user.name}}</td>
                    <td>{{i.user.contact}}</td>
                    <td>{{i.user.email}}</td>
                    <td>{{i.doj}}</td>
                    <td>{{i.complainttitle}}</td>
                    <td>{{i.content}}</td>
                    <td><a href="{{i.attachment.url}}"Download>Download</a></td>
                     <td>
                        {% if i.status == 0 %}
                        <p><a href="{% url 'Shop:reply-petrequest' i.id %}">Reply</a></p>
                        {% else %}
                        <p>Already Replied</p>
                        {% endif %}
                        {% endfor %}
                     </td>
                     </tr>
        </table>
        </form>
</body>
</html>


{% endblock  %}