{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pet Palace-Admin</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'Main/images/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'Main/css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'Main/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'Main/css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'Main/css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'Main/css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'Main/css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'Main/css/custom.css' %}" />
      <!-- form.css -->
      <link href="{% static 'form.css' %}" rel="stylesheet">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="{% static 'Main/images/logo/logo_icon.png' %}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{% static 'Main/images/layout_img/user_img.jpg' %}" alt="#" /></div>
                        <div class="user_info">
                           <h6>Admin</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Approval Request</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="{% url 'Admin:newhospitals'  %}"> <span>Hospitals</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:newshops'  %}"> <span>Shops</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="{% url 'Admin:newusers'  %}"><i class="fa fa-clock-o orange_color"></i> <span>Users List</span></a></li>
                     <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Accepted List</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="{% url 'Admin:accepthospitals'  %}">> <span>Hospitals</span></a></li>
                           <li><a href="{% url 'Admin:acceptshops'  %}">> <span>Shops</span></a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Rejected List</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="{% url 'Admin:rejecthospitals'  %}">> <span>Hospitals</span></a></li>
                           <li><a href="{% url 'Admin:rejectshops'  %}">> <span>Shops</span></a></li>
                        </ul>
                     </li>
               
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Set Regisration Rules</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="{% url 'Admin:district'  %}">> <span>District</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:place'  %}">> <span>Place</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:pettype'  %}">> <span>Pettype</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:breedtype'  %}">> <span>Breedtype</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:hospitaltype'  %}">> <span>Hospitaltype</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="active">
                        <a href="#additional_page1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Feedbacks</span></a>
                        <ul class="collapse list-unstyled" id="additional_page1">
                           <li>
                              <a href="{% url 'Admin:viewshopfeedbacks'  %}">> <span>Shop</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:viewuserfeedbacks'  %}">> <span>User</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:viewhospitalfeedbacks'  %}">> <span>Hospital</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:viewdoctorfeedbacks'  %}">> <span>Doctor</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="active">
                        <a href="#additional_page2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Complaints</span></a>
                        <ul class="collapse list-unstyled" id="additional_page2">
                           <li>
                              <a href="{% url 'Admin:ShopComplaint'  %}">> <span>Shop</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:UserComplaint'  %}">> <span>User</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:HospitalComplaint'  %}">> <span>Hospital</span></a>
                           </li>
                           <li>
                              <a href="{% url 'Admin:DoctorComplaint'  %}">> <span>Doctor</span></a>
                           </li>
                        </ul>
                     </li>
                     
               
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="{% static 'Main/images/logo/logo.png' %}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'Main/images/layout_img/user_img.jpg' %}" alt="#" /><span class="name_user">Admin</span></a>
                                    <div class="dropdown-menu">
                                       <!-- <a class="dropdown-item" href="profile.html">My Profile</a> -->
                                       <a class="dropdown-item" href="{% url 'Admin:logout'  %}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               {% block content %}



               {% endblock %}
                 <!-- footer -->
                 
              </div>
              <!-- end dashboard inner -->
           </div>
           
        </div>
        <div class="container-fluid">
            <div class="footer">
               <p>Copyright © 2022 Designed by Team PetPalace. All rights reserved.<br><br>
               </p>
            </div>
         </div>
     </div>
     <!-- jQuery -->
     <script src="{% static 'Main/js/jquery.min.js' %}"></script>
     <script src="{% static 'Main/js/popper.min.js' %}"></script>
     <script src="{% static 'Main/js/bootstrap.min.js' %}"></script>
     <!-- wow animation -->
     <script src="{% static 'Main/js/animate.js' %}"></script>
     <!-- select country -->
     <script src="{% static 'Main/js/bootstrap-select.js' %}"></script>
     <!-- owl carousel -->
     <script src="{% static 'Main/js/owl.carousel.js' %}"></script> 
     <!-- chart js -->
     <script src="{% static 'Main/js/Chart.min.js' %}"></script>
     <script src="{% static 'Main/js/Chart.bundle.min.js' %}"></script>
     <script src="{% static 'Main/js/utils.js' %}"></script>
     <script src="{% static 'Main/js/analyser.js' %}"></script>
     <!-- nice scrollbar -->
     <script src="{% static 'Main/js/perfect-scrollbar.min.js' %}"></script>
     <script>
        var ps = new PerfectScrollbar('#sidebar');
     </script>
     <!-- custom js -->
     <script src="{% static 'Main/js/custom.js' %}"></script>
     <script src="{% static 'Main/js/chart_custom_style1.js' %}"></script>
  </body>
</html>