<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hiii</h1>
    <a href="{% url 'Hospital:myprofile'  %}">My Profile</a>
    <a href="{% url 'Hospital:editprofile'  %}">Edit Profile</a>
    <a href="{% url 'Hospital:changepassword'  %}">Change Password</a>
    <a href="{% url 'Hospital:newdoctor'  %}">Add Doctor</a>
    <a href="{% url 'Hospital:viewdoctors'  %}">View Doctors</a>
    <a href="{% url 'Hospital:feedbackhospital'  %}">Feedback</a>
    <a href="{% url 'Hospital:complainthospital'  %}">Complaint</a>
    <a href="{% url 'Hospital:viewadmincomplaints'  %}">View Admin Complaints</a>
    <a href="{% url 'Hospital:viewadminfeedbacks'  %}">View Admin Feedbacks</a>

    <a href="{% url 'Hospital:logout'  %}">Logout</a>


    



</body>
</html>